acpica/
*.bak
*.tmp
*.swp
*.bin
*.img
*.iso
*.log
*.key
*.pem
*.crt
*.der
*.pfx
*.p12
*.kdbx
*.sqlite
*.pcap
*.pcapng
*.core
acpica/
ACPI - Wikipedia.html
ACPI - Wikipedia_files/
CYB3R14.txt
G20240322
R*/
acpi.dat
acpi.html
firmware_analysis_dashboard.html
lenovo_psirt_key.asc
r
version-20240827 
